doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Delivery Site
        link(rel="stylesheet", href="./css/libs.min.css")
        link(rel="stylesheet", href="./css/style.min.css")
    body 
        //Start Header

        header.header 
            .container 
                .header__top 
                    .header__left 
                        a(href="#") 
                            img(src="./images/logo.svg", alt="Logo") 
                        .header_cert 
                            img(src="./images/cert.png", alt="Certificate")
                        .header_tel 
                            a(href="tel:1230") 1230
                            a(href="tel:+998712070809") (998-71)207-08-09 
                    .header__rigth 
                        .header_social 
                            a(href="https://www.instagram.com/", target="_blank", rel="noopener noreferrer")
                            a(href="https://www.facebook.com/", target="_blank", rel="noopener noreferrer")
                            a(href="https://telegram.org/", target="_blank", rel="noopener noreferrer")
                            a(href="https://www.youtube.com/", target="_blank", rel="noopener noreferrer")
                        .header__language 
                            select(name="lang")
                                option(value="uz")  
                                option(value="ru")  
                .__header__bottom 

        //End Header


        script(src="./js/libs.min.js")
        script(src="./js/main.js")
